<div class="container mx-auto">
  <h1 class="text-3xl font-bold text-center mb-4 text-indigo-700">
    News
  </h1>

  <div class="rounded-lg bg-white news-list-wrap">
    <ng-container *ngIf="!isLoading">
      <div
        class="flex w-full items-start p-5 card"
        *ngFor="let item of news ; let idx = index">
        <div class="font-bold text-lg mr-2">{{ absoluteIndex(idx) }}.</div>
        <div class="grow">
          <h2 class="text-2xl font-bold mb2 text-indigo-700">
            <a (click)="navigation(item.url!, item.objectID)" class="cursor-pointer">{{ item.title }}</a>
            <span class="text-sm ml-2 font-normal align-middle">{{getDomain(item.url!) }}</span>
          </h2>
          <div class="text-sm">
            <span>{{item.points}} points </span>
            <span>by {{item.author}}</span>
            <span> | {{item.num_comments}} comments </span>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <mat-paginator
    showFirstLastButtons
    (page)="handlePageEvent($event)"
    [length]="length"
    [pageSizeOptions]="[5,10,15]">
  </mat-paginator>

  <!-- preloader -->
  <div class="lds-ellipsis" *ngIf="isLoading">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
