<div class="container mx-auto">
  <div class="flex justify-between items-center mb-3">
    <button class="text-sm text-white bg-purple-500 rounded-lg px-3 py-1 hover:bg-purple-400 transition-all"
      (click)="backToNews()">
      Back to news
    </button>
    <div class="text-sm"><span>{{post.points}} points</span> | <span>by {{post.author}}</span></div>
  </div>
  <h1 class="text-3xl font-bold text-indigo-700">{{post.title}}</h1>

  <div class="text mt-5 text-b" [innerHTML]="post.text"></div>

  <app-comment-form></app-comment-form>

  <h2 class="text-2xl font-bold text-indigo-700 mb-4 mt-6">Comments</h2>
  <div class="comments">
    <app-comment *ngFor="let comment of post.children! | paginate: {
      itemsPerPage: commentsPerPage,
      currentPage: page,
      totalItems: allAvailableComments
    }" [comment]="comment"></app-comment>
    <pagination-controls (pageChange)="pageChangeEvent($event)" class="mt-4"></pagination-controls>
  </div>
</div>
